@import "playbook";
@import "environment_styles/welcome";
@import "environment_styles/scaffold";

body {
	background-color: #FFFFFF;
}

table {
	width: 100%;
}

.small-title {
	font-size: 75%;
	font-weight: bold;
	opacity: 30%;
}

.large-title {
	font-size: 180%;
	margin: -8px 0px 9px 0px;
}

@media screen and (max-width: 375px) {
  	.large-title {
  	
  	}
}

.blue-grey-background {
	background-color: #F3F7FB;
}

.visibility-hidden {
	visibility: hidden;
}

.navigation-bar-a {
	background-color: #FFFFFF;
}

.navigation-bar-a-middle {
	margin: 0px 60px 0px 60px;
}

.navigation-bar-a-interior {
	margin: 0% 2% 0% 2%;
}

@media screen and (max-width: 375px) {
	.navigation-bar-a {
		height: 51px;
	}

  	.navigation-bar-a-middle {
    	margin: 0px 0px 0px 0px;
  	}

  	.navigation-bar-a-interior {
    	margin: 0% 0% 0% 0%;
  	}
}

.pbj-image-box {
	float: left;
	margin-left: 17px;
	padding-top: 8px;
	cursor: pointer;
}

@media screen and (max-width: 375px) {
  	.pbj-image-box {
    	margin: 0px 0px 0px 4px;
  	}
}

.bell-notifier {
	margin: 0px 40px 0px 0px;
	cursor: pointer;
    user-select: none;
}

.box-notifier {
	margin-right: 30px;
	cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 375px) {
  	.bell-notifier {
    	margin: 0px 3px 0px 0px;
  	}

  	.box-notifier {
  		margin: 0px 0px 0px 0px;
  	}
}

.bell-counter {
	background-color: #E5EEFB;
	border-radius: 25%;
	padding: 1px 3px 1px 3px;
	font-weight: bold;
	font-size: 80%;
	color: #2B6AD5;
	position: relative;
    bottom: 5px;
    margin-left: 1px;
}

.box-counter {
	background-color: #E5EEFB;
	border-radius: 25%;
	padding: 1px 3px 1px 3px;
	font-weight: bold;
	font-size: 80%;
	color: #2B6AD5;
	position: relative;
    bottom: 5px;
    margin-left: 2px;
}

@media screen and (max-width: 375px) {
  	.bell-counter {
    	margin: 0px 0px 0px 0px;
  	}

  	.box-counter{
  		margin: 0px 0px 0px 1px;
  	}
}

.top-right-icons {
	float: right;
	padding-top: 15px;
}

.top-right-icons-shift-left {
	margin: 0px 14.6px 0px 0px;
}

@media screen and (max-width: 375px) {
	.top-right-icons {
		margin: 0px 5px 0px 0px;
	}

  	.top-right-icons-shift-left {
    	margin: 0px 5px 0px 0px
  	}
}

.user-dropdown {
	float: right;
	cursor: pointer;
}

.user-dropdown:hover {
	display: block;
	position: relative;
	z-index: 100;
}

.user-dropdown-top {

}

.user-dropdown-bottom {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	height: 137px;
	width: 140px;
	box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.75);
	margin: 23px 0px 0px 10px;
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	overflow: hidden;
	user-select: none
}

.user-dropdown-tile {
	border: 1px solid #E4E8F0;
	font-size: 93%;
	opacity: 50%;
	padding: 5px 10px 5px 10px;
}

.user-nav {
	float: right;
	padding-top: 1.2px;
	margin: 0px 10px 0px 10px;
}

.avatar-nav {
	float: right;
	margin-top: -5px;
	user-select: none;
}

.arrow-nav {
	float: right;
	margin-left: 1px;
	user-select: none;
}

.nav-button {
	padding: 0px 20px 0px 20px;
	cursor: pointer;
}

.navigation-spacer-div {
	clear: both;
}

.navigation-bar-b {
	background-color: #FFFFFF;
	border-bottom: 1px solid #E4E8F0;
	border-top: 1px solid #E4E8F0;
	height: 51px;
	padding-top: 13px;
	font-size: 93%;
	user-select: none;
}

.navigation-bar-b-middle {
	margin: 0px 60px 0px 60px;
}

.navigation-bar-b-interior {
	margin: 0% 2% 0% 2%;
}

@media screen and (max-width: 375px) {
	.nav-button {
		padding: 0px 17.7px 0px 17.7px;
		cursor: pointer;
	}

	.navigation-bar-b {
		font-size: 85%;
	}

	.navigation-bar-b-middle {
		margin: 0px 0px 0px 0.12px;
	}

	.navigation-bar-b-interior {
		margin: 0% 0% 0% 0%;
	}
}

.all-navigation-bar-b-buttons {
	border-bottom: 4px solid #E4E8F0;
	padding-bottom: 12px;
}

.selected-nav-button {
	font-weight: bold;
	border-bottom: 4px solid #1C58CE;
	padding-bottom: 12px;
}

@media screen and (max-width: 375px) {
	.all-navigation-bar-b-buttons {
		padding-bottom: 14px;
	}

	.selected-nav-button {
		font-weight: bold;
		padding-bottom: 14px;
	}
}

.page-container {
	padding: 30px 60px 30px 60px;
	background-color: #F3F7FB;
}

.empty-page-placeholder {
	margin: 0% 2% 0% 2%;
	background-color: #F3F7FB;
}

@media screen and (max-width: 375px) {
	.empty-page-placeholder {
		margin: 0% 0% 0% 0%;
	}
}

.dashboard-titles {
	margin: 0% 2% 0% 2%;
}

.line-graph-box {
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	margin: 0% 2% 0% 2%;
}

@media screen and (max-width: 375px) {
	.page-container {
		padding: 30px 10px 30px 10px;
		background-color: #F3F7FB;
	}

	.dashboard-titles {
		margin: 0% 0% 0% 0%;
	}

	.line-graph-box {
		margin: 0% 0% 0% 0%;
	}
}

.line-graph {
	border-radius: 5px;
}

.ticket-tables {
	width: 100%;
	background-color: #F3F7FB;
}

.ticket-tables-title {
	text-align: center;
	margin: 15px 0px 14px 0px;
}

.ticket-table {
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	background-color: #FFFFFF;
	/*overflow: hidden;*/
}

.ticket-wrapper-5 {
	clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 375px) {
	.ticket-table {
		word-wrap: break-word;
	}

	.ticket-wrapper-5 {
	    width: 103.7%;
	    margin-left: -6px;
	}
}

.ticket-wrapper-4 {
	clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 20%;
}

.ticket-wrapper-3 {
	clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 20%;
}

.ticket-wrapper-2 {
	clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 20%;
}

.ticket-wrapper-1 {
	float: left;
    width: 100%;
    position: relative;
    right: 20%;
}

.ticket-wrapper-1:after {
	clear: both;
}

.new-table {
	float: left;
    width: 17.6%;
    position: relative;
    left: 82%;
}

.manager-feedback-table {
	float: left;
    width: 17.6%;
    position: relative;
    left: 84%;
}

.processing-table {
	float: left;
    width: 17.6%;
    position: relative;
    left: 86%;
}

.awaiting-feedback-table {
	float: left;
    width: 17.6%;
    position: relative;
    left: 88%;
}

.approved-table {
	float: left;
    width: 17.6%;
    position: relative;
    left: 90%;
}

.table-header {
	height: 60px;
	border-bottom: 1px solid #E4E8F0;
	overflow: hidden;
}

.table-spacer-div {
	clear: both;
}

.table-header-new {
	border-left: 2.5px solid #3BC7D8;
}

.table-header-manager-feedback {
	border-left: 2.5px solid #1E5BD0;
}

.table-header-processing {
	border-left: 2.5px solid #F9BB08;
}

.table-header-awaiting-feedback {
	border-left: 2.5px solid #F34B5A;
}

.table-header-approved {
	border-left: 2.5px solid #39CC7A;
}

.table-title-a {
	margin: 0px 0px 0px 15px;
	padding-top: 22px;
	float: left;
	max-width: 62px;
}

.table-title-b {
	margin: 0px 0px 0px 14px;
	padding-top: 18px;
	float: left;
	max-width: 62px;
	line-height: 120%;
}

.table-entry-count {
	float: right;
	padding: 19px 14px 0px 0px;
	font-weight: bold;
	white-space: nowrap;
}

.table-entry-count-new {
	background-color: #E5F9FB;
	color: #3BC7D8;
	border-radius: 25%/50%;
	padding: 0px 8px 0px 8px;
}

.table-entry-count-manager-feedback {
	background-color: #E5EEFB;
	color: #1E5BD0;
	border-radius: 25%/50%;
	padding: 0px 8px 0px 8px;	
}

.table-entry-count-processing {
	background-color: #FEF9E5;
	color: #F9BB08;
	border-radius: 25%/50%;
	padding: 0px 8px 0px 8px;	
}

.table-entry-count-awaiting-feedback {
	background-color: #FEE9EA;
	color: #F34B5A;
	border-radius: 25%/50%;
	padding: 0px 8px 0px 8px;	
}

.table-entry-count-approved {
	background-color: #E5FAF1;
	color: #39CC7A;
	border-radius: 25%/50%;
	padding: 0px 8px 0px 8px;	
}

@media screen and (max-width: 375px) {
	.table-title-a {
	    margin: -5.5px 2px 0px 2px;
	    font-size: 57%;
	}

	.table-title-b {
		margin: -8.5px 2px 0px 2px;
		font-size: 57%;
	}

	.table-entry-count {
		padding: 0px 9px 0px 0px;
		margin: 0px -2px 0px 0px;
	}

	.table-entry-count-new {
		margin: 0px 0px 0px 0px;
	}

	.table-entry-count-manager-feedback {
		margin: 0px 0px 0px 0px;	
	}

	.table-entry-count-processing {
		margin: 0px 0px 0px 0px;	
	}

	.table-entry-count-awaiting-feedback {
		margin: 0px 0px 0px 0px;	
	}

	.table-entry-count-approved {
		margin: 0px 0px 0px 0px;	
	}
}

.table-entry-tile {
	border-bottom: 1px solid #E4E8F0;
	cursor: pointer;
/*	word-break: break-all;*/
}

.table-avatar {
	float: left;
	margin: 7px 0px 7px 9px;
	user-select: none;
}

.table-entry-type-and-arrow {

}

.table-entry-type {
	float: left;
	padding-top: 11px;
	font-size: 93%;
	margin: 0px 0px 0px 9px;
}

@media screen and (max-width: 375px) {
	.table-entry-tile {
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 78;
		max-width: 62.78;
		word-break: break-all;
	}

	.table-avatar {
		float: left;
		margin: 5px 0px 5px 9px;
		user-select: none;
	}

	.table-entry-type {
/*		float: left;*/
		padding-top: 11px;
		font-size: 75%;
		margin: -12px 2px 3px 3px;
	}	
}

.arrow-right {
	float: right;
	margin: 11.5px 7px 0px 0px;
	user-select: none;
}

.show-more-tile {
	text-align: center;
	font-weight: bold;
	font-size: 93%;
	color: #1E5BD0;
	padding: 6.5px 0px 6.5px 0px;
	user-select: none;
	border-bottom: 1px solid #E4E8F0;
	cursor: pointer;
}

.show-more-label {
	
}

.spacer-div {
	clear: both;
	height: 20px;
}

.pipeline-row {
	clear: left;
	margin: 0% 2% 0% 2%;
	width: 96%;
}

.pipeline-chart-box {
	float: left;
	width: 48%;
	background-color: #FFFFFF;
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	overflow: auto;
}

@media screen and (max-width: 375px) {
	.pipeline-row {
		clear: left;
		margin: 0% 0% 0% 0%;
		width: 100%;
	}

	.pipeline-chart-box {
		/*float: left;*/
		width: 100%;
		margin: 0px 0px 22px 0px;
	}
}

.pipeline-chart-title-box {
	border-bottom: 1px solid #E4E8F0;
	font-size: 93%;
	font-weight: bold;
	height: 60px;
	padding: 19px 24px 19px 24px;
}

.pipeline-chart-row {
	border-bottom: 1px solid #E4E8F0;
	font-size: 80%;
	opacity: 50%;
	height: 50px;
	padding: 15px 24px 15px 24px;
}

.percentage-bar {
	float: left;
}

.pipeline-chart-counter {
	float: right;
}

.square-chart-box {
	float: right;
	width: 48%;
	background-color: #FFFFFF;
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	overflow: auto;
	height: 362px;
}

.square-chart-inner-box {
	height: 50%;
	padding: 48px 0px 0px 20px;
	overflow: hidden;
}

@media screen and (max-width: 375px) {
	.square-chart-box {
		/*float: right;*/
		width: 100%;
		height: 100%;
	}

	.square-chart-inner-box {
		padding: 20px 0px 20px 30px;
	}
}

.square-chart-icon-box {
	margin: 1px 0px 0px 0px;
	user-select: none;
}

.square-chart-counter-and-label {
	float: left;
	margin: 0px 0px 0px -2px;
}

.square-chart-box-counter {
	font-size: 275%;
}

.square-chart-inner-box-label {
	font-size: 85%;
	opacity: 50%;
	margin: -17px 30px 0px 0px;
}

@media screen and (max-width: 375px) {
	.square-chart-counter-and-label {
		margin: 0px 0px 0px 0px;
	}

	.square-chart-inner-box-label {
		margin: -17px 30px 0px 2px;
	}
}

.top-left-box {
	border-right: 1px solid #E4E8F0;
	border-bottom: 1px solid #E4E8F0;
}

.top-right-box {
	border-bottom: 1px solid #E4E8F0;	
}

.bottom-left-box {
	border-right: 1px solid #E4E8F0;	
}

.bottom-right-box {

}

.footer-div {
	clear: left;
	height: 30px;
}

.clearing-div {
	clear: both;
}

.square-tickets-ytd {
	float: left;
	width: 50%;
}

.square-overdue-ytd {
	float: left;
	width: 50%;
}

.square-closed-without-action-ytd {
	float: left;
	width: 50%;
}

.square-escalated-ytd {
	float: left;
	width: 50%;
}

.square-chart-icon-box {
	float: left;
	width: 36%
}